* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8a8ac0;
}

.calendar-container {
    background-color: #cfc9ec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #5a9eec;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #4a88c9;
}

.day {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 5px;
}

.day:hover {
    background-color: #dbe7f0;
}

.period {
    background-color: #ffb3b3;
    color: #fff;
}

.fertile {
    background-color: #c8e6c9;
}

.input-container {
    margin-top: 20px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
